{% extends "apps/base.html" %}

{% block title %}Play History{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        Play History
    </p>
{% endblock %}

{% block content %}
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Play History</h1>
    <a href="{% url 'apps_user_profile' game.user.id %}" class="btn btn-primary"><i class="mdi mdi-account" aria-hidden="true" style="font-size: 20px"></i> User Profile</a>
    <p></p>
    <p>Session ID: {{ game.id }}</p>
    <p>Player: <a href="{% url 'apps_user_profile' game.user.id %}">{{ game.user.username }}</a></p>
    <p>Score: {{ game.score }}</p>
    <p><i class="mdi mdi-trophy" aria-hidden="true" style="font-size: 20px; color: gold;"></i> Rank changed : {{ game.rank_before }} <i class="mdi mdi-arrow-right" aria-hidden="true" style="font-size: 20px;"></i> {{ game.rank_after }}</p>
    <p><i class="mdi mdi-check" aria-hidden="true" style="font-size: 20px; color: green;"></i> Right : {{ right }}</p>
    <p><i class="mdi mdi-close" aria-hidden="true" style="font-size: 20px; color: red;"></i> Wrong : {{ wrong }}</p>
    <h2>Question</h2>
    {% if question_list %}
    {% for question in question_list %}
    <div style="padding: 1rem; margin-bottom: 1rem; border: 4px solid darkgray; border-radius: 5px;">
        <p>{% if question.is_true %}<i class="mdi mdi-check" aria-hidden="true" style="font-size: 20px; color: green;"></i>{% else %}<i class="mdi mdi-close" aria-hidden="true" style="font-size: 20px; color: red;"></i>{% endif %} ({{ question.full_json.game_mode.name }}) {{ question.question }}</p>
        {% if question.question_mode == 'seed_question' %}
            <a class="btn btn-secondary btn-sm mb-3" href="{{ knowledge_base_url }}/instance/{{ question.full_json.question.question_model_instance }}/wiki" target="_blank"><i class="mdi mdi-open-in-new" aria-hidden="true" style="font-size: 20px;"></i> View in Knowledge Base</a>
        {% endif %}
        {% if question.type == 'image' %}
            <div class="row">
                {% for choice in question.choices %}
                <div class="col-md-3">
                    <img src="{{ choice }}" style="max-width: 100%; max-height: 100%;" class="
                    {% if question.is_true %}
                    {% if question.selected == choice %}
                    border border-success border-5
                    {% endif %}
                    {% else %}
                    {% if question.selected == choice %}
                    border border-danger border-5
                    {% elif question.answer == choice %}
                    border border-success border-5
                    {% endif %}
                    {% endif %}
                    " />
                </div>
                {% endfor %}
            </div>
        {% else %}
            {% for choice in question.choices %}
                <p class="
                    {% if question.is_true %}
                    {% if question.selected == choice %}
                    border border-success border-5
                    {% endif %}
                    {% else %}
                    {% if question.selected == choice %}
                    border border-danger border-5
                    {% elif question.answer == choice %}
                    border border-success border-5
                    {% endif %}
                    {% endif %}
                    ">&bull; {{ choice }}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
        <p><i class="mdi mdi-alert-circle-outline" aria-hidden="true" style="font-size: 20px;"></i> No question found in this session</p>
    {% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}