{% extends "apps/base.html" %}

{% block title %}Question Generator Test{% endblock %}

{% block styles %}

{% endblock %}

{% block header %}
    <p class="header-title">
        Question Generator Test
    </p>
{% endblock %}

{% block content %}
    <h1 style="padding-top: 1rem; padding-bottom: 1rem;">Question Generator Test</h1>
    <p></p>
    <div style="margin-bottom: 1rem; padding: 8px; border-radius: 4px; background-color: var(--gemusaba-background-darker);">
        Use <code>id</code> query parameter to specify the question id.
    </div>
    {% if question %}
        <p style="color: aqua">Question Mode : {{ question.question_mode }}</p>
        <p style="color: aqua">Question Category : {{ question.question_category }}</p>
        <p style="color: aqua">Question Difficulty : {{ question.difficulty_level }}</p>
        
        <p>Game mode : {{ question.game_mode.name }}</p>
        <p>Answer mode : {{ question.question.answer_mode }}</p>
        
        <p>Question : {{ question.rendered_question }}</p>
        <p>Choices : {{ question.choices }}</p>
        <p>Answer : {{ question.answer }}</p>
        
        <p>Answer type : {{ question.type }}</p>
        <p>Choices Type : {{ question.choices_type }}</p>

        <p class="d-inline-flex gap-1">
            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#rawJsonCollapse" role="button" aria-expanded="false" aria-controls="rawJsonCollapse">
                Raw JSON response
            </a>
        </p>
        <div class="collapse" id="rawJsonCollapse">
            <div class="card card-body">
                {{ indented_html_question | safe }}
            </div>
        </div>
    {% endif %}
    {% if exception_message %}
        <p style="color: red;">{{ exception_message }}</p>
    {% endif %}
{% endblock %}

{% block scripts %}
<script>
    // Auto launch collapse
    var rawJsonCollapse = new bootstrap.Collapse(document.getElementById('rawJsonCollapse'), {
        toggle: true
    });
</script>
{% endblock %}